@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.notice_wrapper a{
    text-decoration: none;
}

.notice_wrapper ul,li{
    list-style: none;
}

.clear_fix::after, .clear_fix::before{
    clear: both;
    content: "";
    display: block;
}

i{
    font-style:normal;
}

